html,body{
    width: 100%;
    height: 100%;
    font-family: 'Poppins',sans-serif;
    
}

nav{
    font-size: small;
    color: white;
}
.navbar img{
    width: 60% ;

}

/* .navsign img{
    border-color: 1px solid red;
    border: 40px;
    color: red;
} */


.icon-section i{
    padding-left: 20px;
}

.info{
    background-color:      #0067b8!important;
    height: 50px;
    padding: 1px 40px;
    overflow: hidden;
}
.info a{
    text-decoration: none;
    color: black;
    padding-top: 50px;
    
}

.picword {
    position: absolute;
    top:30%;
    padding: 30px 0px;
}
.picword h1{
padding-bottom: 40px;
padding-left: 50%;
color: black;
    
}
.picword p{
    padding-bottom: 40px;
    padding-left: 50%;
    color: black;
        
    }
    .icon-list{
        height: 70px;
        padding-top: 20px;
    }
   
footer{
    font-size: smaller;
    text-decoration: none;

}

footer a{
    text-decoration: none;
    color: black;

}
